# banquito-switch-reporting-service environment example
SERVER_PORT=8085

DB_URL=jdbc:postgresql://postgres:5432/SWITCH_REPORTES_DB
DB_USERNAME=postgres
DB_PASSWORD=postgres

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

RABBIT_EXCHANGE_BATCH=switch.batch.exchange
RABBIT_EXCHANGE_ROUTING=switch.routing.exchange
RABBIT_EXCHANGE_SETTLEMENT=switch.settlement.exchange
RABBIT_EXCHANGE_CLEARING=switch.clearing.exchange
RABBIT_EXCHANGE_BILLING=switch.billing.exchange
RABBIT_EXCHANGE_REPORTING=switch.reporting.exchange
RABBIT_QUEUE_REPORTING_PAYMENT_LINES_OBSERVER=switch.reporting.payment-lines-observer.queue
RABBIT_QUEUE_REPORTING_ON_US_COMPLETED=switch.reporting.on-us-completed.queue
RABBIT_QUEUE_REPORTING_LINE_REJECTED=switch.reporting.line-rejected.queue
RABBIT_QUEUE_CLEARING_OFF_US=switch.clearing.off-us.queue
RABBIT_QUEUE_CLEARING_INCLUDED=switch.clearing.included.queue
RABBIT_QUEUE_BILLING_BATCH_COMPLETED=switch.billing.batch-completed.queue
RABBIT_QUEUE_REPORTING_BILLING_COMPLETED=switch.reporting.billing-completed.queue
RABBIT_QUEUE_REPORTING_BATCH_CLOSED=switch.reporting.batch-closed.queue
RABBIT_QUEUE_REPORTING_NOTIFICATIONS=switch.reporting.notifications.queue
RABBIT_ROUTING_KEY_PAYMENT_LINE_REQUESTED=payment.line.requested
RABBIT_ROUTING_KEY_ON_US_COMPLETED=payment.line.on-us.completed
RABBIT_ROUTING_KEY_ROUTED_OFF_US=payment.line.routed.off-us
RABBIT_ROUTING_KEY_OFF_US_INCLUDED=payment.line.off-us.included
RABBIT_ROUTING_KEY_LINE_REJECTED=payment.line.rejected
RABBIT_ROUTING_KEY_BATCH_LINES_COMPLETED=batch.lines.completed
RABBIT_ROUTING_KEY_BILLING_COMPLETED=billing.completed
RABBIT_ROUTING_KEY_BATCH_CLOSED=batch.closed
RABBIT_ROUTING_KEY_NOTIFICATION_REQUESTED=notification.requested

SWITCH_FILES_OUTPUT_DIRECTORY=/app/output
SWITCH_FILES_CLEARING_DIRECTORY=/app/output/clearing
SWITCH_FILES_REPORTS_DIRECTORY=/app/output/reports
SWITCH_FILES_RECEIPTS_DIRECTORY=/app/output/receipts

NOTIFICATION_KONG_BASE_URL=http://localhost:8000
NOTIFICATION_KONG_REQUESTS_PATH=/api/v1/notifications/requests
NOTIFICATION_KONG_AUTH_TOKEN=
NOTIFICATION_KONG_CLIENT_TOKEN_ENABLED=true
NOTIFICATION_KONG_CLIENT_ID=switch-pagos-internos-service
NOTIFICATION_KONG_CLIENT_SECRET=
NOTIFICATION_KONG_REQUIRED_SCOPE=core.reserve.consume
NOTIFICATION_KONG_CLIENT_TOKEN_PATH=/api/v1/auth/client-token
NOTIFICATION_KONG_CLIENT_TOKEN_REFRESH_SKEW_SECONDS=60
NOTIFICATION_KONG_CONNECT_TIMEOUT_MS=5000
NOTIFICATION_KONG_READ_TIMEOUT_MS=30000
NOTIFICATION_SWITCH_ORIGIN_SERVICE=banquito-switch-reporting-service
NOTIFICATION_SWITCH_EVENT_TYPE_ON_US=MASS_PAYMENT_ON_US_PROCESSED
NOTIFICATION_SWITCH_EVENT_TYPE_OFF_US=MASS_PAYMENT_OFF_US_INCLUDED
NOTIFICATION_SWITCH_PRIORITY=NORMAL
NOTIFICATION_SWITCH_CHANNEL_TYPE=EMAIL
NOTIFICATION_SWITCH_SUBJECT=Pago procesado Banco BanQuito

GRPC_SERVER_PORT=9095
